.App {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.incompleteArea {
  background-color: #f4f0e6;
  margin: 24px 0 0 0;
  padding: 12px;
}

.completeArea {
  background-color: #ceefe4;
  margin: 24px 0 0 0;
  padding: 12px;
}

.form {
  margin: 24px 0 0 0;
}

.form input {
  margin: 0 8px 0 0;
  padding: 8px;
}

.form button {
  padding: 8px;
}

.lists li span {
  margin: 0 8px 0 0;
}
.lists li button:not(:last-child) {
  margin: 0 8px 0 0;
}